.crew{
    min-height: 712px;
    margin-top: 52px;
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-rows: 13% 71.2% 15.8%;
    padding: 0px 7.5% 0 10%;
}
.crewPageTitle{
    display: flex;
    align-items: center;
    margin: 0;
}
@media only screen and (max-width: 768px){
    .crew{
        height: 898px;
        margin-top: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0px 5%;
    }
}
@media only screen and (max-width: 375px){
    .crew{
        min-height: 630px;
        height: 630px;
        margin: 0px;
        grid-template-rows: 5% 40% 12% 43%;
    }
}