.header{
    margin-top: 40px;
    height: 96px;
    display: grid;
    grid-template-columns: 10% 32% 58%;
}
.header__logoContainer{
    display: grid;
    place-items: center;
}
.header__middleLineContainer{
    display: grid;
    align-items: center;
}
.header__middleLine{
    display: block;
    position: relative;
    z-index: 10;
    width: 107%;
    height: 1px;
    background-color: rgba(148, 148, 148, 0.5);
}
.header__navbar{
    background-color: rgba(255, 255, 255, .04);
    backdrop-filter: blur(20px);
    display: flex;
    padding-left: 10.4%;
    padding-right: 3%;
}
.header__linkNumber{
    font-weight: bold;
    letter-spacing: .2em;
    width: 3vw;
    max-width: 30px;
}
.hamburgerIcon{
    display: none;
}
.asideMenu{
    display: none;
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, .04);
    backdrop-filter: blur(20px);
    z-index: 100;
    top: 0;
    right: -250px;
    padding: 30px 0px;
    transition: right .25s linear;
}
.showAsideMenu{
    right: 0;
}
.asideMenu__closeIconContainer{
    text-align: end;
    padding: 0 26px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 768px){
    .header{
        margin-top: 0;
        grid-template-columns: 15% 25% 60%;
    }
    .header__middleLine{
        display: none;
    }
    .header__linkNumber{
        display: none;
    }
    .header__navbar{
        padding-left: 5%;
    }
}
@media only screen and (max-width: 375px){
    .header{
        display: grid;
        grid-template-columns: 15% 0 85%;
        padding: 0 25px;
        height: 80px;
    }
    .logo{
        width: 40px;
    }
    .header__navbar{
        background-color: transparent;
        backdrop-filter: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .hamburgerIcon{
        display: block;
    }
    .asideMenu{
        display: block;
    }
    .header__linkNumber{
        width: 150px;
        display: block;
    }
    .header__navbar .routeLink{
        display: none;
    }
}