.techNavbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
.enumeratedCircularLink{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    letter-spacing: 2;
    font-size: 32px;
    border: 1px solid #4C4E55;
    color: white;
    text-decoration: none;
    display: grid;
    place-items: center;
    font-family: var(--main-font);
}
.enumeratedCircularLink:hover{
    border: 1px solid white;
    color: white;
}
.enumeratedCircularLinkActive{
    background-color: white;
    color: var(--darkBlue) !important;
    border: 1px solid white !important;
}
@media only screen and (max-width: 768px){
    .techNavbar{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    .enumeratedCircularLink{
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
}
@media only screen and (max-width: 375px){
    .enumeratedCircularLink{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}